<strong>Olá, {{ deliveryman }}</strong>
<p>A entrega foi cancelada, verifique os detalhes abaixo:</p>
<p>
  <strong>Cliente: </strong> {{ client }} <br />
  <strong>Produto: </strong> {{ product }} <br />
  <br />
  <strong>Endereço</strong> <br />
  <strong>Logradouro: </strong> {{ street }} <br />
  <strong>Número: </strong> {{ number }} <br />
  <strong>Complemento: </strong> {{ complement }} <br />
  <strong>Estado: </strong> {{ state }} <br />
  <strong>Cidade: </strong> {{ city }} <br />
  <strong>CEP: </strong> {{ zip_code }} <br />
  <br />
  <small>
    A entrega foi cancelada pela equipe Fastfeet.
  </small>
</p>
